<div id="education">
    <h2 class="heading">Educación</h2>
    <div class="education-block">
        <h3>Argentina Programa</h3>
        <span class="education-date">Febrero 2022 - Actualmente</span>
        <h4>Curso "Desarrollador Web Full-Stack" </h4>
        <ul>
            <li>
                Primera etapa #SeProgramar finalizada Diciembre 2021
            </li>
            <li>
                Actualmente cursando la segunda etapa #YoProgramo
            </li>
            <li>
                <p>
                    Las dos etapas cuentan con una certificación conjunta del Ministerio de Desarrollo Productivo y la Cámara Argentina de la Industria de Software (CESSI). La segunda etapa tiene además la certificación del Instituto Nacional de Tecnología Industrial (INTI).
                </p>
            </li>
        </ul> 
     <!--ACA VOS PODES PONER LO QUE A VOS SE TE OCURRA QUE NO TE VA A AFECTAR EL CODIGO-->
    </div>
  
    <div class="education-block">
        <h3>Instituto Nicolás Avellaneda</h3>
        <span class="education-date">2011 - 2017</span>
        <h4>Bachillerato Administracion Empresas</h4>
    </div>
  </div>