<div id="projects" class="background-alt">
    <h2 class="heading">Proyectos</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/Imagenes/Foto1.jpg" width="275px" height="150px" />
                </div>
                <div class="project-info">
                    <h3>Nombre de proyecto</h3>
                    <a href="#">Ver el proyecto</a>
                </div>
            </div>
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/Imagenes/Foto2.jpg" width="275px" height="150px" />
                </div>
                <div class="project-info">
                    <h3>Nombre del proyecto</h3>
                    <a href="#">Ver el proyecto</a>
                </div>
            </div>
        </div>
    </div>
  </div>