<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">Sobre Mi</h2>
            </div>
            <div class="col-md-8">
                <p>
                    Me encuentro en formacion en cuando al mundo de la programacion, aprendiendo de este curso como tambien de diferentes plataformas.<br>
                    Actualmente estoy cursando la segunda etapa de #ArgentinaPrograma, para poder obtener
                    los conocimientos de un desarrollador Full Stack, una vez terminado este curso, planeo continuar tomando lecciones y otros cursos para asi pulir mis habilidades y en un futuro, llegar a ser un buen profesional.
                </p>
            </div>
        </div>
    </div>
  </div>