<div id="mobile-menu-open" class="shadow-large">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
<!-- End #mobile-menu-toggle -->
<header class="">
    <div id="mobile-menu-close">
        <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <ul id="menu" class="shadow">
        <li routerLink="inicio"
            class="items">
            Inicio
        </li>
        <li routerLink="about"
            class="items">
            Sobre Mi
        </li>
        <li routerLink="experience"
            class="items">
            Experiencia
        </li>
        <li routerLink="education"
            class="items">
            Educación
        </li>
        <li routerLink="proyectos"
            class="items">
            Proyectos
        </li>
        <li routerLink="skills"
            class="items">
            Skills
        </li>
        <li routerLink="contact"
            class="items">
            Contacto
        </li>
    </ul>
  </header>

  

<div id="lead">
    <div id="lead-content">
        <h1>Trigo Nicolás</h1>
        <h2>Desarrollador Full-Stack </h2>
        <a href="https://drive.google.com/file/d/1gbUBi0cfcxMs_MODZLb8Q6dMNlHp6HH8/view" target="_blank" class="btn-rounded-white">Descargar Curriculum</a>
    </div>
  
    <div id="lead-overlay"></div>
  </div>
<!-- End #lead -->

  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/scripts.min.js"></script>
